<div class="container p-4 mx-auto">
  <div class="grid grid-cols-3 gap-4">
    <div class="col-span-3 p-4 bg-white rounded shadow-lg">
      <h2 class="mb-4 text-xl font-bold">Lista de Pedidos</h2>
      <p>20 pedidos encontrados</p>
      <input type="text" placeholder="Ingrese nombre" class="mb-4">
      <button class="px-4 py-2 mb-4 font-bold text-white bg-blue-500 rounded hover:bg-blue-700">
        Agregar pedido
      </button>
      <table class="w-full mb-6 table-auto">
        <thead>
          <tr>
            <th class="px-4 py-2">Código del Pedido</th>
            <th class="px-4 py-2">Cliente</th>
            <th class="px-4 py-2">Total</th>
            <th class="px-4 py-2">Estado</th>
            <th class="px-4 py-2">Fecha Creación</th>
            <th class="px-4 py-2">Acción</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <!-- Pedido 1 -->
          <tr>
            <td class="px-4 py-2 border">Código 1</td>
            <td class="px-4 py-2 border">Cliente 1</td>
            <td class="px-4 py-2 border">$650.00</td>
            <td class="px-4 py-2 border">Pendiente</td>
            <td class="px-4 py-2 border">20/01/2024</td>
            <td class="px-4 py-2 border">Acción</td>
          </tr>
          <tr>
            <td class="px-4 py-2 border">Código 2</td>
            <td class="px-4 py-2 border">Cliente 2</td>
            <td class="px-4 py-2 border">$650.00</td>
            <td class="px-4 py-2 border">Pendiente</td>
            <td class="px-4 py-2 border">20/01/2024</td>
            <td class="px-4 py-2 border">Acción</td>
          </tr>
          <tr>
            <td class="px-4 py-2 border">Código 3</td>
            <td class="px-4 py-2 border">Cliente 3</td>
            <td class="px-4 py-2 border">$650.00</td>
            <td class="px-4 py-2 border">Pendiente</td>
            <td class="px-4 py-2 border">20/01/2024</td>
            <td class="px-4 py-2 border">Acción</td>
        </tbody>
      </table>
    </div>
  </div>
</div>
