<div class="container p-4 mx-auto">
  <div class="grid grid-cols-3 gap-4">
    <div class="col-span-3 p-4 bg-white rounded shadow-lg">
      <h2 class="mb-4 text-xl font-bold">Pedidos</h2>
      <div class="grid grid-cols-3 gap-2 mb-6">
        <!-- Hoy -->
        <div class="p-4 text-center bg-gray-100 rounded">
          <p class="font-semibold text-[#234FC0]">HOY</p>
          <p class="text-lg font-bold">5</p>
          <p class="text-[#525252]">5 ordenes hoy</p>
        </div>

        <!-- Esta Semana -->
        <div class="p-4 text-center bg-gray-100 rounded">
          <p class="font-semibold text-[#234FC0]">ESTA SEMANA</p>
          <p class="text-lg font-bold">25</p>
          <p class="text-[#525252]">25 ordenes esta semana</p>
        </div>

        <!-- Este Mes -->
        <div class="p-4 text-center bg-gray-100 rounded">
          <p class="font-semibold text-[#234FC0]">ESTE MES</p>
          <p class="text-lg font-bold">50</p>
          <p class="text-[#525252]">50 ordenes este mes</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container p-4 mx-auto">
  <div class="grid grid-cols-3 gap-4">
    <div class="col-span-3 p-4 bg-white rounded shadow-lg">
      <h2 class="mb-4 text-xl font-bold">Ingresos</h2>
      <div class="grid grid-cols-3 gap-2 mb-6">
        <!-- Hoy -->
        <div class="p-4 text-center bg-gray-100 rounded">
          <p class="font-semibold text-[#234FC0]">HOY</p>
          <p class="text-lg font-bold">S/ 520</p>
          <p class="text-[#525252]">5 ordenes hoy</p>
        </div>

        <!-- Esta Semana -->
        <div class="p-4 text-center bg-gray-100 rounded">
          <p class="font-semibold text-[#234FC0]">ESTA SEMANA</p>
          <p class="text-lg font-bold">S/ 1200</p>
          <p class="text-[#525252]">25 ordenes esta semana</p>
        </div>

        <!-- Este Mes -->
        <div class="p-4 text-center bg-gray-100 rounded">
          <p class="font-semibold text-[#234FC0]">ESTE MES</p>
          <p class="text-lg font-bold">S/ 8950</p>
          <p class="text-[#525252]">50 ordenes este mes</p>
        </div>
      </div>
    </div>
  </div>
</div>
